.containerPrincipalColumnTasks {
  width: 76vw;
  height: 78vh;
  background-color: #f9f8f8;
  border-radius: 0.4rem;
  padding: 0.4rem;
  position: absolute;
  top: 4.8rem;
  right: 0;
  margin: 1vw;
}
.containerTasksBacklog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.headerBacklog {
  background-color: #6a1b9a;
  border-radius: 0.4rem;
  color: #fff;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.buttonAddTask {
  margin-top: 0.5rem;
  background-color: #9c27b0;
  width: 5vw;
  height: 5vh;
  border-radius: 0.4rem;
  color: white;
  border: none;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}

.buttonAddTask:hover {
  cursor: pointer;
  background-color: #f9f8f8;
  color: black;
  border: 1px solid black;
}

.tasks {
  background-color: #6a1b9a;
  padding: 2rem;
  border-radius: 0.4rem;
  display: flex;
  margin: 0.5rem;
  color: #fff;
}
