.containerPrincipalColumnTasks {
  width: 76vw;
  height: auto;
  background-color: #f9f8f8;
  border-radius: 0.4rem;
  padding: 0.4rem;
  margin: 1vw;
}
.containerTasksBacklog {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0,5rem;
}
.headerBacklog {
  background-color: var(--color-principal);
  border-radius: 0.4rem;
  color: #fff;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.buttonAddTask {
  margin-top: 0.5rem;
  background-color: var(--botones-principales);
  width: 5vw;
  height: 6vh;
  border-radius: 0.4rem;
  color: white;
  border: none;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}

.buttonAddTask:hover {
  cursor: pointer;
  background-color: #f9f8f8;
  color: black;
  border: 1px solid black;
}
.tasks{
  display: flex;
  justify-content: center;
}
