.containerTaskCard {
  width: 20vw;
  height: 8vw;
  background-color: #f4f4fc;
  border-radius: 0.4rem;
  padding: 0.4rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.contentTaskCard {
  padding: 0.3vw;
}

.buttonsTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonSentToBacklog {
  margin-top: 1vh;
  padding: 1px;
  background-color: var(--botones-principales);
  width: 8vw;
  height: 4vh;
  border-radius: 0.4rem;
  color: white;
  border: none;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}

.buttonSentToBacklog:hover {
  cursor: pointer;
  background-color: #f9f8f8;
  color: black;
  border: 1px solid black;
}

.buttonsHandleTasks {
  margin-top: 1vh;
  background-color: #9c27b0;
  padding: 1px;
  background-color: var(--botones-principales);
  width: 3vw;
  height: 4vh;
  border-radius: 0.4rem;
  color: white;
  border: none;
  transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}

.buttonsHandleTasks:hover {
  cursor: pointer;
  background-color: #f9f8f8;
  color: black;
  border: 1px solid black;
}
