.containerColumnSprints{
    width: 20vw;
    height: 40vw;
    background-color: #F9F8F8;
    margin: 1vw;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.buttonVolverColumnSprints{
    margin-top: 0.5rem;
    background-color: var(--botones-principales);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 5vw;
    height: 5vh;
    border-radius: 0.4rem;
    color: white;
    border: none;
    transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}

.buttonVolverColumnSprints:hover{
    cursor: pointer;
    background-color: #F9F8F8;
    color: black;
    border: 1px solid black;
}