.containerBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.containerPrincipalModalSprints {
  background-color: rgb(217, 217, 217, 0.8);
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 20vh;
  right: 40vw;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contentFormSprints {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4vh;
}

.inputsSprints {
  border-radius: 0.2rem;
  border: none;
  padding: 0.2vw;
  width: 15vw;
}

.buttonsModalSprintContainer {
  position: absolute;
  top: 38vh;
  left: 2.5vw;
  width: 15vw;
  display: flex;
  justify-content: space-between;
}

.buttonsModalSprint {
  border-radius: 0.2rem;
  padding: 0.2vw;
  width: 5vw;
  border: none;
  transition: background-color 0.7s ease;
}

.buttonsModalSprint:hover {
  cursor: pointer;
  background-color: rgb(213, 117, 230);
}

.errorMessage{
  color: red;
  min-height: 1em;
  font-size: 0.75rem;
}

.validEnter{
  color: black;
  min-height: 1em;
  font-size: 0.75rem;
}


