.containerPrincipalModalSprints{
    background-color: rgb(217, 217, 217, 0.8);
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 20vh;
    right: 40vw;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentFormSprints{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}