.containerCardSprints{
    background-color: #f4f4fc;
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    border-radius: 10px;
    padding: 16px;
    box-shadow:4px 6px 12px rgba(0, 0, 0, 0.15);
    width: 80%;
}

.containerCardSprints p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttonsSprints {
    width: 15vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1vw;
}

.buttonSprintsContainer{
    width: 5.5vw;
    display: flex;
    justify-content: space-between;
}

.buttonsHandleSprints {
    margin-top: 1vh;
    background-color: #9c27b0;
    padding: 1px;
    background-color: var(--botones-principales);
    width: 2.5vw;
    height: 4vh;
    border-radius: 0.4rem;
    color: white;
    border: none;
    transition: background-color 0.7s ease, color 0.7s ease, border 0.7s ease;
}
  
.buttonsHandleSprints:hover {
    cursor: pointer;
    background-color: #f9f8f8;
    color: black;
    border: 1px solid black;
}
  